bin/
.cache/
*.vcxproj
*.ini
*.exe
!packages/imgui/premake5.lua
!packages/glfw/premake5.lua
!packages/lunasvg/premake5.lua
!packages/tree-sitter-cpp/premake5.lua
!packages/tree-sitter/premake5.lua
packages/mINI
*.sln
*.filters
*.user
.vs
*.log

# Moved this line to the bottom to avoid overriding specific un-ignore rules
packages/*/*
